.root {
    display: block;
}

.image {
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
    background: url('./images/profile-widget-small.jpg') no-repeat;
}

.name {
    display: block;
    margin-top: 5px;
    font-weight: 500;
    color: #eee;
}
