@keyframes :global(shake) {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 50%, 90% {
    transform: translate3d(-7px, 0, 0);
  }

  30%, 70% {
    transform: translate3d(7px, 0, 0);
  }
}

.shaky {
    :global {
        animation-name: shake;
    }
}

.button {
    :global {
        animation-duration: 0.7s;
    }
}
