@keyframes :global(todoItemFadeIn) {
    0% {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes :global(todoItemFadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
}

.root {
    display: block;
}

:global {

    .todo-item-transition {
        &-enter, &-appear {
            animation-name: todoItemFadeIn;
            animation-duration: 0.2s;
        }
        &-leave {
            animation-name: todoItemFadeOut;
            animation-duration: 0.2s;
        }
    }

}
