.root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navigation {
    z-index: 101;
    position: absolute;
    width: 220px;
}

.content {
    margin: 0 0 0 220px;
    min-height: 800px;
    background-color: #f3f3f4;
    padding: 30px;
}
