.root {
    position: relative;
    display: block;
}

.icon {
    margin-right: 8px;
}

.link {
    display: block;
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    border-left: 4px solid #293846;
    background: #293846;

    &:hover,
    &:focus {
        background-color: #293846;
        color: white;
        text-decoration: none;
    }

    &:global(.active) {
        border-left: 4px solid #19aa8d;
        color: #ffffff;
    }

}
